@import "tailwindcss";

* {
  box-sizing: border-box;  
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Home Component */


/* Header Component  */

.header__intro::before {
  content: "[   ";
  color: #1a1b1c;
  font-size: 1.1rem;
}
.header__intro::after {
  content: "    ]";
  color: #1a1b1c;
  font-size: 1.1rem;
}


/* DiscoverAside  */

.square-left {
  position: relative;  
  width: 400px;
  height: 400px;
  background-color: transparent;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: rotate(45deg);
  border: 2px dotted #a0a4ab;
}

.square__content {
  position: absolute;
  top: 28%;
  left: 70%;
  transform: rotate(-45deg) translate(-50%, -50%) ;  
}